@model Hydocs.Areas.AdWorks.Models.DB.Customer

@{
    Layout = "~/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Customer</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.GeographyKey)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GeographyKey)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CustomerAlternateKey)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerAlternateKey)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MiddleName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MiddleName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NameStyle)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NameStyle)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BirthDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BirthDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MaritalStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MaritalStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Suffix)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Suffix)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmailAddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.YearlyIncome)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.YearlyIncome)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TotalChildren)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TotalChildren)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NumberChildrenAtHome)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NumberChildrenAtHome)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EnglishEducation)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EnglishEducation)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SpanishEducation)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SpanishEducation)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FrenchEducation)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FrenchEducation)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EnglishOccupation)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EnglishOccupation)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SpanishOccupation)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SpanishOccupation)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FrenchOccupation)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FrenchOccupation)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.HouseOwnerFlag)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.HouseOwnerFlag)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NumberCarsOwned)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NumberCarsOwned)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AddressLine1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AddressLine1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AddressLine2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AddressLine2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateFirstPurchase)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateFirstPurchase)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CommuteDistance)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CommuteDistance)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerKey }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
