<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />  
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/css")
    @RenderSection("scripts", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" runat="server" href="/">
                    <img  style="position:fixed"src="/images/2shLogo.gif" />&nbsp;2SHARP</a>
</div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a runat="server" href="/hydocs/default">HYDOCS</a></li>
                    <li><a runat="server" href="/hydocs/wfdemo">WEB FORMS</a></li>
                    <li><a runat="server" href="/hydocs/adworks/Customersmv">MVC 5</a></li>
                    <li><a runat="server" href="/hydocs/swaggerdemo">SWAGGER</a></li>
                    <li><a runat="server" href="/hydocs/help">WEB API</a></li>
                    <li><a runat="server" href="/react">REACT</a></li>
                    <li><a runat="server" href="/hydocs/about">MVC 6</a></li>

                </ul>
            </div>
        </div>
    </div>
 
    <div class="containerRss">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year  Hydocs, an MVC /React demo. 2sharp <img src="/images/Pinch.gif" /></p>
        </footer>
    </div>


</body>
</html>
